#t1,#t2,tr,td{background-color: white; border:solid, black; border-collapse:collapse; padding: 15px;}
#bt1{width: 250px; background-color: rgb(194, 221, 238);}
#b1{text-align: center;}
#btn2{background-color: rgb(245, 163, 163); width: 60px;margin-right: 300px;}
body{background-color: black;}
#btn3{background-color: rgb(144, 241, 241);width: 60px;}

